################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite

# Ignore Python cache files and virtual environment
__pycache__/
*.pyc
venv/
.env

